h1 {color: darkblue; font-family: sans-serif; background-color: lightgray;}
p {color: black; font-family: serif; font-weight: bold;}
ol {color: black; font-family: serif; font-weight: bold;}
ul {color: black; font-family: serif; font-weight: bold;}
